<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!--<link rel="icon" href="/media/{{ site.favicon }}"-->
  <title>CraneCRM</title>
</head>

<style>
    body {
      background-image: url('/static/back.png');
    }
</style>

<body>
  <!-- navbar -->
  <img style="margin: 20px; width: 100px;" src="/static/logo.png">


<a href="/admin" style="text-decoration: none; color:rgb(0, 0, 0)">
  <div style="margin: 20px; width: 160px; padding: 12px; background: #fefefeea; border-radius: 5px; text-align: center; cursor: pointer; text-decoration: none;">
      Панель управления CRM
  </div>
</a>  


</body>

</html>


